body {
    background: linear-gradient(90deg, rgba(122, 180,255,1) 0%, rgba(123,91,217,1) 100%);
}

.wrapper {
    margin-top: 200px;
}

.big-circle {
    animation: pulse 1.5s alternate infinite;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255,255,.3);
}

.small-circle {
    position: relative;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
}

.small-circle:hover {
    animation: shake .1s alternate infinite;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes shake {
    0% {
        transform: translate(0%);
    }
    25%, 75% {
        transform: translateY(1%);
    }
    50%, 100% {
        transform: translateX(1%);
    }
}
