@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap");
body {
  background-color: black;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 60px;
  letter-spacing: 1px; }

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 1200px; }
  h1::before, h1::after {
    content: 'we are not equally present in all parts of ourselves';
    display: block;
    position: absolute;
    top: 0; }
  h1::before {
    color: #7ab4ff;
    z-index: -1; }
  h1::after {
    color: #7b5bd9;
    z-index: -2; }
  h1:hover::before {
    animation: glitch-advanced 3s ease reverse infinite;
    left: 15px; }
  h1:hover::after {
    animation: glitch-advanced 3s ease infinite;
    left: -15px; }

@keyframes glitch-basic {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(-3px, 3px); }
  40% {
    transform: translate(-3px, -3px); }
  60% {
    transform: translate(3px, 3px); }
  80% {
    transform: translate(3px, -3px); }
  100% {
    transform: translate(0); } }
@keyframes glitch-advanced {
  0% {
    clip: rect(182px 1200px 58px 0); }
  2% {
    clip: rect(231px 1200px 505px 0); }
  4% {
    clip: rect(410px 1200px 308px 0); }
  6% {
    clip: rect(90px 1200px 159px 0); }
  8% {
    clip: rect(120px 1200px 239px 0); }
  10% {
    clip: rect(45px 1200px 254px 0); }
  12% {
    clip: rect(129px 1200px 127px 0); }
  14% {
    clip: rect(229px 1200px 420px 0); }
  16% {
    clip: rect(171px 1200px 285px 0); }
  18% {
    clip: rect(147px 1200px 308px 0); }
  20% {
    clip: rect(324px 1200px 70px 0); }
  22% {
    clip: rect(232px 1200px 326px 0); }
  24% {
    clip: rect(275px 1200px 146px 0); }
  26% {
    clip: rect(523px 1200px 312px 0); }
  28% {
    clip: rect(22px 1200px 170px 0); }
  30% {
    clip: rect(75px 1200px 469px 0); }
  32% {
    clip: rect(56px 1200px 393px 0); }
  34% {
    clip: rect(23px 1200px 472px 0); }
  36% {
    clip: rect(69px 1200px 216px 0); }
  38% {
    clip: rect(193px 1200px 95px 0); }
  40% {
    clip: rect(465px 1200px 489px 0); }
  42% {
    clip: rect(444px 1200px 316px 0); }
  44% {
    clip: rect(87px 1200px 261px 0); }
  46% {
    clip: rect(387px 1200px 275px 0); }
  48% {
    clip: rect(335px 1200px 266px 0); }
  50% {
    clip: rect(405px 1200px 355px 0); }
  52% {
    clip: rect(218px 1200px 433px 0); }
  54% {
    clip: rect(218px 1200px 404px 0); }
  56% {
    clip: rect(86px 1200px 257px 0); }
  58% {
    clip: rect(103px 1200px 187px 0); }
  60% {
    clip: rect(119px 1200px 353px 0); }
  62% {
    clip: rect(523px 1200px 89px 0); }
  64% {
    clip: rect(25px 1200px 527px 0); }
  66% {
    clip: rect(213px 1200px 240px 0); }
  68% {
    clip: rect(230px 1200px 213px 0); }
  70% {
    clip: rect(105px 1200px 93px 0); }
  72% {
    clip: rect(447px 1200px 493px 0); }
  74% {
    clip: rect(376px 1200px 157px 0); }
  76% {
    clip: rect(33px 1200px 469px 0); }
  78% {
    clip: rect(524px 1200px 85px 0); }
  80% {
    clip: rect(495px 1200px 495px 0); }
  82% {
    clip: rect(269px 1200px 213px 0); }
  84% {
    clip: rect(408px 1200px 468px 0); }
  86% {
    clip: rect(522px 1200px 91px 0); }
  88% {
    clip: rect(372px 1200px 322px 0); }
  90% {
    clip: rect(493px 1200px 25px 0); }
  92% {
    clip: rect(415px 1200px 528px 0); }
  94% {
    clip: rect(192px 1200px 206px 0); }
  96% {
    clip: rect(122px 1200px 166px 0); }
  98% {
    clip: rect(471px 1200px 10px 0); }
  100% {
    clip: rect(121px 1200px 369px 0); } }

/*# sourceMappingURL=style.css.map */
